<!DOCTYPE html>
<html class="no-js"> 
    <head>
		<title>Easy Talk School</title>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />		
		<meta name="p:domain_verify" content="c3bbf0805f10d0768ef556f2d9be4ce0"/>
		<link rel="stylesheet" type="text/css" href="../css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/bootstrap-theme.css">
        <link rel="stylesheet" href="/css/style.css">
		<link rel="shortcut icon" href="../img/link1.png" type="image/x-icon">
		<link rel="stylesheet" href="../skin/default.css">	

        <meta property="fb:app_id" 		  content="972517352838386">
		<meta property="og:url"           content="http://amazer.com.ua/index.php" />
		<meta property="og:type"          content="article" />
		<meta property="og:title"         content="The Amazer Game" />
        <meta property="og:description"         content="Find a way out of the maze avoiding enemies and walls. Explore unique levels. Perfect touch control with one hand. Get the highest score in the game and compete with you friends. Beautiful and live HD-graphics!" />
		<meta property="og:image"         content="http://amazer.com.ua/img/fbpost.png" />	

		<script src="js/fb.js"></script>		
	</head>
	 
    <body>		
		<section id="header" class="appear"></section>
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:80px; height:80px; background-color:rgba(252,171,0,0.77);" data-300="line-height:80px; height:80px; background-color:rgba(252,171,0,1);">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<a href="index"><img class="logo logo-no" src="../img/logo.png" alt=""/></a>
				</div>
				<div class="navbar-collapse collapse">
					
                    <ul class="nav navbar-nav" data-0="margin-top:30px;" data-300="margin-top:30px;">
						
                        <li><p class="headernum">+7(777)365-35-36</p></li>					
						<li> 
                         <input type="submit" class="btn btn-md btn-primary headerbutton " value="Заказать обратный звонок"></li>													
					</ul>
				</div>
			</div>
		</div> 

		<section class="featured talkimg">
            <div class="semitrans">
                
                
			<div class="container"> 
                
                
               
				<div class="row mar-bot40">
                    
                     <div class="mainlabel col-lg-12">
                    <p class="biglabel">Заговори на английском, не выходя из дома!</p>
                         <br>
                    <p class="smalllabel">БЫСТРО ЛЕГКО ДОСТУПНО</p>     
                
                         <br>
                         
                         <input type="submit" class="btn btn-md btn-info mystylebutton " value="Пройди первый урок бесплатно">
                
                    </div>
                    
                    
                    
					<div class="col-lg-4" >
						<div class="align-center">
							<img class="icons" src="../img/access.svg" alt=""/>
                            <p class="text-icons">Индивидуальный подбор расписания и предподавателя</p>
						</div>
					</div>					

				
					<div class="col-lg-4" >
						<div class="align-center">
							<img class="icons" src="../img/map.svg" alt=""/>
                            <p class="text-icons">Возможность учиться в перерыве на работе, на отдыхе, дома на диване</p>
						</div>
					</div>	

					<div class="col-lg-4" >
						<div class="align-center">
						<img class="icons" src="../img/work.svg" alt=""/>
                            <p class="text-icons">Множество материалов для продуктивной работы</p>
						</div>
					</div>

				</div>							
			</div>	
            </div>
		</section>	
        
        <section id="youtubelink" class="section">
        
            <div class="align-center">
            <h3 class="open-sans">Узнай, почему уроки по Skype эффективнее</h3>
            
            <iframe class="video" width="620" height="350" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0">
            </iframe>
                
                <div>
                <input type="submit" class="btn btn-md btn-info mystylebutton " value="Скачать разговорник по английскому языку">
                </div>
           
            </div>
        
        </section>
		

					
	<section id="footer" class="section footer">
		<div class="container">
				<div class="row align-center copyright">
						<div class="col-sm-12"><p>Copyright &copy; 2017 The Easy Talk School Company </p></div>
						<div class="col-sm-12 text-black">
							<h6>Designed  & Created by </h6>
							<h6><a> Igor Denysenko </a></h6>

						<script type="text/javascript" src="http://counter10.01counter.com/private/counter.js?c=68d4596ef8ce50f26f03a71df54e1a3c"></script>
						<noscript><a href="http://www.freecounterstat.com" title="website counter"><img src="http://counter10.01counter.com/private/freecounterstat?c=68d4596ef8ce50f26f03a71df54e1a3c" border="0" title="website counter" alt="website counter"></a>
						</noscript>
       

						</div>
				</div>
		</div>
	</section>

	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>	

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../js/validator.js"></script>
    <script src="../js/contact.js"></script>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
	
	
        </section>
	</body>
</html>