<!DOCTYPE html>
<html class="no-js"> 
    <head>
		<!-- BASICS -->
		<title>The Amazer Game</title>

        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">               
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />		
		<link rel="stylesheet" type="text/css" href="../css/isotope.css" media="screen" />	
		<link rel="stylesheet" href="../js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/bootstrap-theme.css">
        <link rel="stylesheet" href="../css/style.css">
		<link rel="shortcut icon" href="../img/link1.png" type="image/x-icon">
		<!-- skin -->
		<link rel="stylesheet" href="../skin/default.css">	

        <meta property="fb:app_id" 		  content="972517352838386">
		<meta property="og:url"           content="http://amazer.com.ua/index.php" />
		<meta property="og:type"          content="article" />
		<meta property="og:title"         content="The Amazer Game" />
        <meta property="og:description"         content="Find a way out of the maze avoiding enemies and walls. Explore unique levels. Perfect touch control with one hand. Get the highest score in the game and compete with you friends. Beautiful and live HD-graphics!" />
		<meta property="og:image"         content="http://amazer.com.ua/img/fbpost.png" />			
		<div id="fb-root"></div>
		<script src="js/fb.js"></script>
	    </head>
	 
    <body>		
		<section id="header" class="appear"></section>
		<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:80px; height:80px; background-color:rgba(0,0,0,0.77);" data-300="line-height:80px; height:80px; background-color:rgba(0,0,0,1);">
			 <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<a href="index"><img class="logo logo-no" src="../img/logo.png" alt=""/></a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav" data-0="margin-top:30px;" data-300="margin-top:30px;">
						<li class="active"><a href="index">index</a></li>
					</ul>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		
		
		<!-- contact -->
		<section id="section-contact" class="section appear clearfix">
			<div class="container">				
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="section-header">							
							<h2 class="section-heading animated" data-animation="bounceInUp">Privacy Policy</h2>
							

							<a href="files/Privacy_Policy.pdf" download="Privacy_Policy.pdf">
							<img src="../img/privacy.png" height="35px" alt=""/><br>Download Privacy Policy</a>

							<h3>Interest Based Advertising</h3>
							<p class="privacy">When you use our Amazer Game app, it’s may collect data about your mobile device and how you use our app in order to serve ads on other apps or websites. Examples of data that may be collected can include: Facebook account information, how you use our app, items you put in your basket, or any links you click on when you are in our app. You have a choice about participating in interest-based advertising. </p>
							<p class="privacy">By using our Game, Website you agree to observe and be bound by this Privacy Policy and you consent to the processing, collection, use and disclosure of your information and data in accordance with its terms. If you do not agree with this Privacy Policy, please do not use our Game and Website.</p>
							<p class="privacy">Throughout our Game and Website, we may collect ‘non-personal data’. This is data which does not identify you directly, but may be ‘aggregated’ with other data to help us improve our Game, Website and otherwise in accordance with our Privacy Policy.</p>
							<h3>Our Policy Regarding about Children</h3>
							<p class="privacy">Our team do not knowingly collect or solicit personal information from anyone under the age of 13 or knowingly allow such persons to use our Service.  If you are under 13, please do not send any information about yourself to us, including your name, address, telephone number, or email address. If you believe that we might have any information from or about a child under the age of 13, please contact us. By using our Game and Website, you represent that you are at age 13 or older. If you are between the ages of 13 and 17, you represent that your legal guardian has reviewed our Games, Websites and related Services and agreed to use these. Our game is made for people who are at least 13 years of age. </p>
							<p class="privacy">Please note: You can find published age recommendations on: Apple’s App Store on iTunes, Google Play. However, these age or maturity classifications refer only to the content in our game (similar to movie ratings G, PG or PG-13 in the U.S., but related to gameplay, animations, etc.). For more on how these categories are defined, visit these support websites for Apple, Google.</p>
							<p class="privacy">What is Personal Information and why do we collect it from you?
							‘Personal Information’ is information or an opinion that identifies you as an individual. We collect and store you’re your Facebook account name. If you contact us directly for any reason, we may also keep a copy of that correspondence. Your email is collected only to keep you informed of new products and updates.
							</p>
							<h3>Sensitive Information</h3>
							<p class="privacy">Sensitive information is defined in the US Privacy Act (1974) to include information or opinion about such things as an individual’s racial or ethnic origin, political opinions, membership of a political association, religious or philosophical beliefs, membership of a professional body, criminal records or health information.Out team will not attempt to obtain nor record any sensitive information.
							</p>
							<h3>Disclosure of Personal Information</h3>
							<p class="privacy">We will not sell, trade, rent or disclose any of the personal information you provide to us for any reason, without your prior consent. Otherwise, your Personal Information will only be disclosed where required or allowable by law.
							</p>
							<h3>Security of Personal Information</h3>
							<p class="privacy">Your Personal Information is stored offsite in a manner that reasonably protects it from misuse, loss, unauthorized access, modification or disclosure.<br>We don’t guarantee website links or policy of authorised third parties and you access those sites at your own risk.
							</p>
							<h3>Access to your Personal Information</h3>
							<p class="privacy">Under the Privacy Act, NPP 6 gives you the right to access the Personal Information we hold about you and to update and/or correct it, subject to certain exceptions. Bearbit Studios will not charge any fee for your access request, but may charge an administrative fee. Please be aware that in order to protect the Personal Information in our database, we will require identification from you before releasing any information.
							</p>
							<h3>Collection of other ‘Non-Personal’ Information</h3>
							<p class="privacy">Our team do not use cookies in order to track your movement around the web, our websites and apps may contain APIs from third parties.<br>
							Our third party partners, and their privacy policies are as follows:
							<ul>
								<li>Unity Ads: http://unity3d.com/legal/privacy-policy</li>
								<li>AdMob: https://www.google.com/intl/en/policies/privacy/</li>
							</ul>
							</p>
							<h3>Policy Updates</h3>
							<p class="privacy">This Policy may change from time to time. The most current version of our Privacy Policy can be found at <a href="http://www.amazer.com.ua/privacy"> www.amazer.com.ua/privacy </a>. We will always keep this up to date so that you know what information we will collect from you, how we may use it, and when we may disclose it.
							</p>
							<h3>Complaints</h3>
							<p class="privacy">You can lodge a complaint with us about any breach of our Privacy Policy at the address below.<br>
							Privacy Policy Contact Information<br>
							If you have any questions about our Privacy Policy, please contact us at: amazerservice@gmail.com</p>
							Privacy policy last updated September 2016
						</div>
					</div>
				</div>
				
				
			</div>
		</section>
		
		
	<section id="footer" class="section footer">
		<div class="container">
				<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
					<div class="col-sm-12 align-center">
							<img class="rune" src="img/runes/1.png"/>
							<img class="rune" src="img/runes/2.png"/>
							<img class="rune" src="img/runes/3.png"/>
							<img class="rune" src="img/runes/4.png"/>
							<img class="rune" src="img/runes/5.png"/>
							<img class="rune" src="img/runes/6.png"/>
							<img class="rune" src="img/runes/7.png"/>
						
					<!--
	                    <ul class="social-network social-circle">
	                        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
	                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
	                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
	                    </ul>	
	                 -->			
					</div>
				</div>
				<div class="row align-center copyright">
						<div class="col-sm-12"><p>Copyright &copy; 2016 The Amazer Game </p></div>
						<a href="privacy">Privacy Policy </a> | <a href="terms"> Terms of Use</a>
						<div class="col-sm-12 text-white">
							<h6>Designed  &amp; Created by </h6>
							<h6><a href="https://www.facebook.com/profile?id=100010874800462"> Nazar Dranhovskyi </a> | <a href="https://www.facebook.com/dima.petrov.73594">Dmytro Kudin</a></h6>
						</div>
				</div>
		</div>
	</section>
	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>	

	<script src="../js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="../js/jquery.js"></script>
	<script src="../js/jquery.easing.1.3.js"></script>
    <script src="../js/bootstrap.min.js"></script>
	<script src="../js/jquery.isotope.min.js"></script>
	<script src="../js/jquery.nicescroll.min.js"></script>
	<script src="../js/fancybox/jquery.fancybox.pack.js"></script>
	<script src="../js/skrollr.min.js"></script>		
	<script src="../js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script src="../js/jquery.localscroll-1.2.7-min.js"></script>
	<script src="../js/stellar.js"></script>
	<script src="../js/jquery.appear.js"></script>
	<script src="../js/validate.js"></script>
    <script src="../js/main.js"></script>
     
	</body>
</html>				